@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 20px;
    background-color: #fff;
    color: #272727;
}

h1, h2, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url("../img/back.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #CCE59D;
    padding: 25vh 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: fit-content;
    text-align: right;
}

main {
    padding: 0 30px 100px;
}

.main__title {
    text-align: center;
    margin-bottom: 100px;
}

.list {
    display: flex;
    justify-content: space-around;
}

.list__item a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    gap: 20px;
    padding: 20px;
    border-radius: 24px;
    border: 1px solid #EB8028;
    transition: 0.2s;
}
.item__img {
    object-fit: contain;
    width: 150px;
}

.item__img_ecologic{
    filter: brightness(0) saturate(100%) invert(21%) sepia(71%) saturate(6629%) hue-rotate(114deg) brightness(97%) contrast(103%);
}

.list__item a:hover {
    box-shadow: 1px 1px 4px 4px #0EB07C;
}

.main__rez {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.rez__img {
    object-fit: contain;
    width: 300px;
}

.main__title--margin {
    margin-bottom: 50px;
}