<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Eletrônicos</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Quantos eletrônicos você usa?</h1>
    </div>
  </header>
  <main>
    <ul class="list">
      <li class="list__item">
        <a href="/{{ size }}/{{ lights }}/1"> 
           <img class="item__img" src="/static/img/electronics.svg" alt="electronics"> 
           <span>Poucos aparelhos</span>
        </a> 
      </li>
      <li class="list__item">
        <a href="/{{ size }}/{{ lights }}/2"> 
           <img class="item__img" src="/static/img/electronics.svg" alt="electronics"> 
           <span>Quantidade média</span>
        </a> 
      </li>
      <li class="list__item">
        <a href="/{{ size }}/{{ lights }}/3"> 
           <img class="item__img" src="/static/img/electronics.svg" alt="electronics"> 
           <span>Muitos aparelhos</span>
        </a> 
      </li>
    </ul>
  </main>
</body>
</html>
