<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Minha Página Estilizada</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Olá Mundo</h1>
        <h2>Aprendendo Design Web</h2>
        
        <img src="https://picsum.photos/id/237/300/200" alt="Cachorro preto" class="minha-foto">
        
        <iframe src="https://www.meteoblue.com/pt/tempo/widget/daily/?geoloc=detect&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=monochrome&pictoicon=1&maxtemperature=1&mintemperature=1&windspeed=1&windgust=0&winddirection=1&uv=0&humidity=0&precipitation=1&precipitationprobability=1&spot=1&pressure=0&layout=light&user_key=3c713c7685da083e&embed_key=d6e308419fbe2357&sig=e49aa5b2542f360aae247c94d637cfcd562a4e7180726f9ab7541a0152bb2343" frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px;height: 348px;border: 0;overflow: hidden;"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/pt/tempo/semana/index" target="_blank" rel="noopener">meteoblue</a></div>

        <footer>
            <p>Criado em 2025 • Design Clean</p>
        </footer>


        
    </body>
</html>